.root{
    -fx-background-color: #f0f8ff;
}
.button{
    -fx-text-fill: #b3cee5;
    -fx-background-color: #191970;
    -fx-background-radius : 40;


    -fx-font-weight:bold;
}

#vBoxBodyId{
    -fx-background-color: white;
}
