.root{
    -fx-background-color: #f0f8ff;
}
.button{
    -fx-text-fill: #b3cee5;
    -fx-background-color: #191970;
<<<<<<< HEAD
    -fx-background-radius : 40;
=======
>>>>>>> branch_8


    -fx-font-weight:bold;
}

#vBoxBodyId{
    -fx-background-color: white;
}
