.root{
    -fx-background-color: #f0f8ff;
}
.button{
    -fx-text-fill: #b3cee5;
    -fx-background-color: #191970;
    -fx-background-radius : 40;
    -fx-font-weight:bold;
}

#vBoxBodyId{
    -fx-background-color: white;
}

.button{
    -fx-text-fill: #b3cee5;
    -fx-background-color: #191970;
    -fx-font-size: 15px;
    -fx-font-weight:bold;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
    fx-padding: 10 20 10 20;

}

.label
{
    -fx-text-fill: #191970;
}

.hyperlink
{
     -fx-text-fill: #191970;
     -fx-underline: true;

}
#error_msg{
    -fx-text-fill: red;
    -fx-font-size: 15px;
    -fx-background-color: #f0f8ff;


}

#transactionCardId{
    -fx-background-color: white;
        -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.3) , 10,0,0,0.5 );
        -fx-border-radius: 4;


}

.my-button {
  -fx-font-size: 18pt;
  -fx-font-weight: bold;
  -fx-text-fill: white;
  -fx-background-color: #00bfff;
  -fx-padding: 10 20 10 20;
}

.page-title {
  -fx-font-size: 36pt;
  -fx-font-weight: bold;
  -fx-text-fill: #333;
  -fx-padding: 10px;
  -fx-background-color: #f2f2f2;
  -fx-border-radius: 8px;
}
