.button{
    -fx-text-fill: #b3cee5;
    -fx-background-color: #191970;
    -fx-font-size: 15px;
    -fx-font-weight:bold;
}

.label
{
    -fx-text-fill: #191970;
}

.hyperlink
{
     -fx-text-fill: #191970;
     -fx-underline: true;
<<<<<<< HEAD
=======
}
#error_msg{
    -fx-text-fill: red;
    -fx-font-size: 15px;
>>>>>>> 126240187485abde2285cee03a9f8ae1540ba9b7
}